# Laravel / PHP related
/vendor/
/node_modules/
/public/storage
/.env
/.env.*.backup
/.phpunit.result.cache
/.idea
/.vscode

# IDEs and editor folders
/.vscode/
/.idea/
/*.iml

# Laravel specific files
/storage/*.key
/storage/*.log
/storage/framework/*
/storage/logs/*

# System files
.DS_Store
Thumbs.db
# Ignore Docker environment file
docker/.env
